<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>

<style>
    body{
        background-image: url("https://thumbs.dreamstime.com/b/hospital-departments-icons-set-vector-illustrations-white-background-hospital-departments-icons-set-vector-illustrations-142980785.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
    <meta charset="UTF-8">
    <title>Departments</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous">

</head>
<body>

<div class="wrapper-btn">

    <a th:href="@{/url}">
        <button class="btn btn-primary" type="button">back</button>
    </a>
    <a th:href="@{/{id}/departments/saveDepartment (id=${hospitalId})}">
        <button class="btn btn-primary" type="button">Create</button>
    </a>
</div>
<div class="container mt-3">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Hospital</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="departmnet : ${departments}">
            <td th:text="${departmnet.getId()}"></td>
            <td th:text="${departmnet.name}"></td>
            <td th:text="${departmnet.hospital.name}"></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>