<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
</head>
<body>

<div class="wrapper-btn">

    <a th:href="@{/url}">
        <button class="btn btn-primary" type="button">back</button>
    </a>
    <a th:href="@{/{id}/departments/saveDepartment (id=${hospitalId})}">
        <button class="btn btn-primary" type="button">Create</button>
    </a>
</div>
<div class="container mt-3">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Hospital</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="departmnet : ${departments}">
            <td th:text="${departmnet.getId()}"></td>
            <td th:text="${departmnet.name}"></td>
            <td th:text="${departmnet.hospital.name}"></td>

            <!--            <td>-->
            <!--                <a th:href="@{/companies(id=${company.id})}">-->
            <!--                    <button class="btn btn-primary" type="submit">edit</button>-->
            <!--                </a>-->
            <!--                <a th:href="@{/url/{id}(id=${peremenyi.id})}">-->
            <!--                    <button class="btn btn-danger" type="submit">delete</button>-->
            <!--                </a>-->
            <!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>